.mycard {
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 200px;
    text-align: center;
}

.mycard img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.mycard h2 {
    font-size: 18px;
    margin: 10px 0;
}

.mycard p {
    font-size: 14px;
    color: gray;
}
